# -------------------------
# DATA
# -------------------------
data/*

# -------------------------
# DATA
# -------------------------
runs/*

# Splits y annotations
# data/splits/
# data/annotations/

# -------------------------
# MODELOS
# -------------------------
*.pth
*.pt
*.ckpt


# -------------------------
# LOGS / EXPERIMENTOS
# -------------------------
logs/
wandb/
mlruns/
experiments/*/results/

# -------------------------
# PYTHON
# -------------------------
__pycache__/
*.pyc
*.pyo

# -------------------------
# ENTORNOS
# -------------------------
venv/
.env

# -------------------------
# JUPYTER
# -------------------------
.ipynb_checkpoints/

# -------------------------
# SISTEMA
# -------------------------
.DS_Store
Thumbs.db